body {
  margin: 0;
  background-color: #fffde4;
}
main {
  display: flex;
  color: navy;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  color: hotpink;
  background: linear-gradient(90deg, #005aa7 0%, #fffde4 100%);
  font-family: Luminari, Blippo, fantasy;
  font-size: 46px;
  padding: 40px 50px;
}

table {
  table-layout: fixed;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.form {
  text-align: center;
  width: 200px;
  display: flexbox;
  background-color: transparent;
}

.overBudget {
  color: red;
}

.currentEmployees{
    display: flex;
    flex-direction: column-reverse;
}

.totalMonthly{
  padding: 10px 0 0 20px;
} 

tbody tr:nth-child(odd) {
    background-color: #eff3e0;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f8e2;
  }

  thead{
      background-color: #a5bfcd;
  }

  .prettyButton{
      border: none;
      background-color: #508dbb;
      text-align: center;
      display: inline-block;
      opacity: 0.7
  }

  .monthlySalary{
      outline: auto;
  }

  footer{
    font-size: 10px;
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }